
<div class="col s6 offset-s3">
    <div class="row center">
        <ngx-charts-linear-gauge
            [min]="values.min"
            [max]="values.max"
            [value]="values.value"
            [previousValue]="values.previous"
            [units]="values.units"
            [scheme]="'fire'"
            style="width: 700px; height: 300px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; fill: chartreuse;"
            >
        </ngx-charts-linear-gauge>

    </div>

</div>


