

<select [(ngModel)]="selectedForce">
    <option *ngFor="let force of forces"
    [value]="force.id" >{{force.name}}</option>
</select>

<p>{{selectedForce}}</p>

<button [disabled]="selectedForce == ''" (click)="searchCrimes()">RECHERCHE</button>

<ngx-charts-bar-vertical *ngIf="!isLoading"
    [results]="crimesType"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [yAxisLabel]="'Nombre de crimes ressensé'"
    [showYAxisLabel]="true"
    [scheme]="'vivid'"
></ngx-charts-bar-vertical>
